# 打开目录索引
Options +Indexes

# 保留图标＋链接，但去掉多余的描述/大小/时间/横线
IndexOptions FancyIndexing \
    +IconsAreLinks \
    +SuppressDescription \
    +SuppressSize \
    +SuppressLastModified \
    +SuppressRules

# 指定一个 CSS，来收紧表格、图标和文字
IndexStyleSheet "/.htcompact/compact.css"